html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;

  background: linear-gradient(to bottom right, #c5c5c5, #c5c5c5);
  font-size: 1.5rem;
}

.logo {
	top: 20px;
	left: 20px;
}

.mini-logo {
	height: 20px;
	width: 20px;
}

.w-full {
	width: 100%;
}

.h-full {
	height: 100%;
}

.dark {
	background-color: #d3d3d6;
}

.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

.text-center {
	text-align: center;
}

.justify-center {
	justify-content: center;
}

.normal-text {
	font-size: 17px;
	font-weight: 500;
}
